.agency { // <div>
	max-width: 120rem;
	margin: {
		right: auto;
		left: auto;
	}
	padding-bottom: 9.375rem;
	scroll-margin-top: calc(3.125rem + 1.5625rem);

	@media #{$mq_w450_up} {
		scroll-margin-top: calc(3.75rem + 1.5625rem);
	}

	@media #{$mq_w800_up} {
		scroll-margin-top: calc(4.6875rem + 1.5625rem);
	}

	&__title { // <h2>
		margin: {
			top: 0;
			bottom: 0;
		}
		background-color: $white;
		display: flex;
		align-items: center;
	
		@media #{$portrait} {
			height: 100px;
	
			@media #{$mq_w400_up} {
				height: 120px;
			}
	
			@media #{$mq_w500_up} {
				height: 140px;
			}
	
			@media #{$mq_w700_up} {
				height: 10rem;
			}
	
			@media #{$mq_w900_up} {
				height: 11.25rem;
			}
	
			@media #{$mq_w1000_up} {
				height: 12.5rem;
			}
		}
	
		@media #{$landscape} {
			height: 5rem;
	
			@media #{$mq_h400_up} {
				height: 6.25rem;
			}
	
			@media #{$mq_h500_up} {
				height: 7.5rem;
			}
	
			@media #{$mq_h600_up} {
				height: 8.75rem;
			}
	
			@media #{$mq_h700_up} {
				height: 10rem;
			}
	
			@media #{$mq_h800_up} {
				height: 12.5rem;
			}
	
			@media #{$mq_h900_up} {
				height: 15.625rem;
			}
		}

		.title {
			&__text-container { // <div>
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				padding-left: 1.25rem;

				@media #{$mq_w400_up} {
					padding-left: 7%;
				}

				@media #{$mq_w600_up} {
					padding-left: 10%;
				}

				@media #{$mq_w1200_up} {
					padding-left: 12%;
				}
			}

			&__text { // <span>
				font-weight: 800;
				text-transform: uppercase;

				@media #{$portrait} {
					font-size: 1.25rem;

					@media #{$mq_w400_up} {
						font-size: 1.875rem;
					}

					@media #{$mq_w500_up} {
						font-size: 2.5rem;
					}

					@media #{$mq_w700_up} {
						font-size: 3.125rem;
					}

					@media #{$mq_w900_up} {
						font-size: 3.75rem;
					}

					@media #{$mq_w1000_up} {
						font-size: 4.375rem;
					}
				}

				@media #{$landscape} {
					font-size: 2.1875rem;

					@media #{$mq_h400_up} {
						font-size: 2.5rem;
					}

					@media #{$mq_h500_up} {
						font-size: 2.8125rem;
					}

					@media #{$mq_h600_up} {
						font-size: 3.125rem;
					}

					@media #{$mq_h700_up} {
						font-size: 3.75rem;
					}

					@media #{$mq_h800_up} {
						font-size: 4.375rem;
					}

					@media #{$mq_h900_up} {
						font-size: 5rem;
					}
				}
			}

			&__image-container { // <div>
				width: 50%;
				height: 100%;
				clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
			}

			&__image { // <img>
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: middle;
				z-index: 1;
			}
		}
	}

	&__presentation-container { // <div>
		display: flex;
		justify-content: center;
		margin-top: 4.6875rem;
		padding: {
			right: 1.25rem;
			left: 1.25rem;
		}

		@media #{$mq_w400_up} {
			padding: {
				right: 7%;
				left: 7%;
			}
		}

		@media #{$mq_w600_up} {
			padding: {
				right: 10%;
				left: 10%;
			}
		}

		@media #{$mq_w1200_up} {
			padding: {
				right: 12%;
				left: 12%;
			}
		}

		@media #{$mq_w1500_up} {
			margin-top: 9.375rem;
		}
	}

	&__presentation { // <div>
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		max-width: 25rem;
		background-color: $wooops;
		box-shadow: 0rem 0rem 1.25rem $black_shadow;
		background-color: $white;
		padding: 1.25rem;

		@media #{$mq_w1500_up} {
			padding: 2.5rem;
		}

		@media #{$mq_w1025_up} {
			max-width: 70%;
		}

		p {
			margin: 0;
		}
	}
}