.contact {
	//@include container;
	margin-top: 300px;
	padding-bottom: 300px;

	&__title { // <h2>
		@include h2-titles;
	}

	&__image { // <img>
		@include section-header;
	}

	&__content-container { // <div>
		@include container-by-padding;
		display: flex;
		justify-content: space-between;
		margin-top: 150px;
	}

	&__introduction { // <div>
		width: 45%;
	}

	&__text { // <p>
		@include services-text;
		@include card-dark;
		font: {
			size: 25px;
			weight: 500;
		}
		word-spacing: 1px;
		margin-top: unset;

		@media #{$mq_w1500_up} {
			//width: 60%;
			// margin: {
			// 	right: auto;
			// 	left: auto;
			// }
		}
	}

	.wpcf7 { // <div>
		//margin-top: 6.25rem;
		color: $white;
		border: {
			style: solid;
			width: 1px;
			color: $white;
		}
		padding: 40px;

		@media #{$mq_w800_up} {
			width: 80%;
			// margin: {
			// 	right: auto;
			// 	left: auto;
			// }
		}

		@media #{$mq_w1100_up} {
			width: unset;
		}

		@media #{$mq_w1500_up} {
			width: 45%;
		}

		.wpcf7-form.init { // <form>
			@media #{$mq_w1100_up} {
				display: flex;
				flex-direction: column;
				row-gap: 1.25rem;
			}
			
			label, span {
				display: block;
			}

			input[type="text"], input[type="tel"], input[type="email"], textarea {
				padding: {
					top: 5px;
					right: 5px;
					bottom: 5px;
					left: 5px;
				}
				outline: none;
				border: {
					top: none;
					right: none;
					bottom: {
						style: solid;
						width: 0.063rem;
						color: $white;
					}
					left: none;
				}
				//border-radius: 0.125rem;
				font: {
					family: inherit;
					size: 1rem;
				}
				display: block;
				width: 100%;
				background-color: $black;
				color: $white;
			}

			.form { // no tags
				&__part-1, &__part-2 { // <div>
					@media #{$mq_w1100_up} {
						display: flex;
						flex-direction: column;
						row-gap: 1.25rem;
					}
				}

				&__top-part, &__bottom-part { // <div>
					@media #{$mq_w1100_up} {
						display: flex;
						flex-direction: row;
						column-gap: 2.5rem;
					}
				}

				&__name, &__company, &__phone, &__email {
					margin-top: 2rem;

					@media #{$mq_w1100_up} {
						width: 50%;
						margin-top: unset;
					}
				}

				&__object, &__message {
					margin-top: 2rem;

					@media #{$mq_w1100_up} {
						margin-top: unset;
					}
				}

				&__submit { // <input>
					position: relative;

					input[type="submit"] {
						height: 3.125rem;
						display: block;
						margin: {
							top: 2rem;
							right: 0;
							bottom: 0;
							left: auto;
						}
						padding: 0;
						border: none;
						//border-radius: 0.188rem;
						background-color: $wooops;
						color: $white;
						cursor: pointer;
						text-transform: uppercase;
						font: {
							family: inherit;
							weight: 500;
							size: 1rem;
						}
						width: 50%;
					}

					.ajax-loader { // <span>
						position: absolute;
						top: calc(3.125rem - (24px + 12px));
						right: calc(50% + 1.25rem);
						margin: 0;

						@media #{$mq_w1100_up} {
							top: calc((3.125rem + 2rem) - (24px + 12px));
						}
					}
				}
			}
		}
	}
}