.contact {
	@include container;

	@media #{$mq_w320_up} {
		margin-top: 6.25rem;
		padding-bottom: 6.25rem;
	}

	&__introduction { // <section>
		

		@media #{$mq_w1500_up} {
			@include services-intros;
			width: 50%;
		}
	}

	&__title { // <h2>
		@include h2-titles;

		@media #{$mq_w1500_up} {
			width: 50%;
		}
	}

	&__text { // <p>
		@include services-text;
		margin-top: 6.25rem;

		@media #{$mq_w1500_up} {
			width: 50%;
		}
	}

	.wpcf7 { // <div>
		@media #{$mq_w320_up} {
			margin-top: 6.25rem;
		}

		@media #{$mq_w800_up} {
			width: 80%;
			margin: {
				right: auto;
				left: auto;
			}
		}

		@media #{$mq_w1100_up} {
			width: unset;
		}

		@media #{$mq_w1500_up} {
			width: 50%;
		}

		.wpcf7-form.init { // <form>
			@media #{$mq_w1100_up} {
				display: flex;
				flex-direction: column;
				row-gap: 1.25rem;
			}
			
			label, span {
				display: block;
			}

			input[type="text"], input[type="tel"], input[type="email"], textarea {
				padding: {
					top: 0;
					right: 0;
					bottom: 0.5rem;
					left: 0;
				}
				outline: none;
				border: {
					top: none;
					right: none;
					bottom: {
						style: solid;
						width: 0.063rem;
					}
					left: none;
				}
				border-radius: 0.125rem;
				font: {
					family: inherit;
					size: 1rem;
				}
				display: block;
				width: 100%;
			}

			.form { // no tags
				&__part-1, &__part-2 { // <div>
					@media #{$mq_w1100_up} {
						display: flex;
						flex-direction: column;
						row-gap: 1.25rem;
					}
				}

				&__top-part, &__bottom-part { // <div>
					@media #{$mq_w1100_up} {
						display: flex;
						flex-direction: row;
						column-gap: 2.5rem;
					}
				}

				&__name, &__company, &__phone, &__email {
					@media #{$mq_w320_up} {
						margin-top: 2rem;
					}

					@media #{$mq_w1100_up} {
						width: 50%;
						margin-top: unset;
					}
				}

				&__object, &__message {
					@media #{$mq_w320_up} {
						margin-top: 2rem;
					}

					@media #{$mq_w1100_up} {
						margin-top: unset;
					}
				}

				&__submit { // <input>
					position: relative;

					input[type="submit"] {
						height: 3.125rem;
						display: block;
						margin: {
							top: 2rem;
							right: 0;
							bottom: 0;
							left: auto;
						}
						padding: 0;
						border: none;
						border-radius: 0.188rem;
						background-color: $wooops;
						color: $white;
						cursor: pointer;
						text-transform: uppercase;
						font: {
							family: inherit;
							weight: 500;
							size: 1rem;
						}
						width: 50%;
					}

					.ajax-loader { // <span>
						position: absolute;
						top: calc(3.125rem - (24px + 12px));
						right: calc(50% + 1.25rem);
						margin: 0;

						@media #{$mq_w1100_up} {
							top: calc((3.125rem + 2rem) - (24px + 12px));
						}
					}
				}
			}
		}
	}
}