.footer { // <footer>
	background-color: $dark_gray;
	color: $white;
	position: relative;

	@media #{$mq_w320_up} {
		padding-top: 3.125rem;
	}

	@media #{$mq_w1200_up} {
		//height: 25rem;
	}

	&__informations { // <div>
		height: inherit;
		text-align: center;

		@media #{$mq_w1200_up} {
			display: flex;
		}
	}

	&__logo { // <div>
		display: flex;
		justify-content: center;
		align-items: center;

		@media #{$mq_w320_up} {
			width: 10.938rem;
			margin: {
				right: auto;
				left: auto;
			}
		}

		@media #{$mq_w875_up} {
		}

		@media #{$mq_w1200_up} {
			
		}
	}

	&__image { // <img>
		width: 80%;
		vertical-align: middle;

		@media #{$mq_w875_up} {
			width: 100%;
		}

		@media #{$mq_w1200_up} {
		}
	}

	&__contact-infos { // <div>
		@media #{$mq_w320_up} {
			margin-top: 3.125rem;
		}

		@media #{$mq_w450_up} {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-wrap: wrap;
			column-gap: 5rem;
			row-gap: 2rem;
		}

		@media #{$mq_w1200_up} {
			width: 70%;
			margin-top: unset;
			align-content: center;
		}
	}

	&__address, &__contact, &__social { // <section>
		@media #{$mq_w320_up} {
			margin-top: 2rem;

			&:first-of-type {
				margin-top: 0;
			}
		}

		@media #{$mq_w450_up} {
			margin-top: unset;
			align-self: start;
		}

		@media #{$mq_w1200_up} {
			display: flex;
			flex-direction: column;
			height: 7.5rem;
		}
	}

	&__title { // <h4>
		margin: 0;
		font-size: 1.25rem;
		justify-self: flex-start;
	}

	&__entry { // <p>
		margin: 0;
	}

	&__copyright { // <div>
		@media #{$mq_w320_up} {
			text-align: center;
			margin-top: 3.125rem;
		}

		@media #{$mq_w1200_up} {
			//position: absolute;
			//bottom: 0;
		}
	}
}