* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font: {
		family: "Catamaran", Arial, "Helvetica Neue", Helvetica, sans-serif;
		size: 16px;
	}
	background-color: $black;
	overflow-x: hidden;

	main {
		background-color: $black;
	}
}