.hero { // <div>
	background-image: url("images/sand.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;

	@media #{$mq_w320_up} {
		background-position-x: 55%;
	}

	.header { // <header>
		@media #{$mq_w320_up} {
			height: 20vh;
		}

		@media #{$mq_w1920_up} {
			position: absolute;
			left: 10%;
			display: flex;
			@include container;
		}

		&__logo-container { // <h1>
			background-color: $white;
			margin: {
				top: 0;
				bottom: 0;
			}
			display: flex;
			justify-content: center;
			align-items: center;

			@media #{$mq_w320_up} {
				height: inherit;
			}

			@media #{$mq_w1920_up} {
				width: 28.125rem;
				height: 18.75rem;
			}
		}

		&__logo-image { // <img>
			vertical-align: middle;

			@media #{$mq_w320_up} {
				height: 80%;
			}
		}

		.menu-menu-principal-container { // <div>
			@media #{$mq_w1920_up} {
				width: calc(100% - 28.125rem);
			}

			.menu { // <ul>
				list-style: none;
				display: flex;
				padding: 0;
				
				@media #{$mq_w320_up} {
					margin: {
						top: 0;
						bottom: 0;
					}
					padding: {
						right: 10px;
						left: 10px;
					}
					justify-content: space-between;
				}

				@media #{$mq_w1920_up} {
					margin: {
						top: 2.5rem;
						bottom: 0;
					}
					justify-content: space-evenly;
				}

				.menu-item { // <li>
					a {
						color: $white;
						text: {
							decoration: none;
							transform: uppercase;
						}
						font-weight: 500;

						@media #{$mq_w320_up} {
							font-size: 0.8rem;
						}

						@media #{$mq_w1920_up} {
							font-size: 1.25rem;
							word-spacing: 0.25rem;
						}
					}
				}
			}
		}
	}

	.introduction { // <section>
		display: flex;
		align-items: center;

		@media #{$mq_w320_up} {
			height: calc(100vh - 20vh);
		}

		@media #{$mq_w1920_up} {
			@include container;
			justify-content: flex-end;
			height: inherit;
		}
		
		&__title { // <h2>
			margin: 0;
			display: flex;
			flex-wrap: wrap;

			@media #{$mq_w320_up} {
				justify-content: center;
			}

			@media #{$mq_w1920_up} {
				width: 40%;
			}
		}
	
		&__image { // <img
			align-self: center;

			@media #{$mq_w320_up} {
				margin-right: 1rem;
				width: 12.5%;
			}

			@media #{$mq_w1920_up} {
				margin-right: 2rem;
			}
		}
	
		&__text { // <p>
			margin: 0;
			text-transform: uppercase;
			color: $white;
			font-weight: 100;

			@media #{$mq_w320_up} {
				font-size: 1.563rem;
			}

			@media #{$mq_w1920_up} {
				font-size: 3.125rem;
				word-spacing: 0.25rem;
				letter-spacing: 0.125rem;
			}
	
			&:last-of-type {
				margin-top: 2.5rem;

				@media #{$mq_w1920_up} {
					margin-left: 6.125rem;
				}
			}
		}
	
		&__keyword { // <span>
			font-weight: 700;
			color: $black;
		}
	}
}