.header { // <header>
	background-color: $white;
	position: sticky;
	top: 0;
	z-index: 10;
	box-shadow: 0rem 0.313rem 0.625rem $black_shadow;

	@media #{$portrait} {
		height: 50px;

		@media #{$mq_w600_up} {
			height: 60px;
		}

		@media #{$mq_w800_up} {
			height: 75px;
		}
	}

	@media #{$landscape} {
		height: 40px;

		@media #{$mq_h400_up} {
			height: 50px;
		}

		@media #{$mq_h600_up} {
			height: 60px;
		}

		@media #{$mq_h900_up} {
			height: 75px;
		}
	}

	.menu-menu-principal-container { // <div>
		@include viewport-container;
		height: inherit;

		#menu-menu-principal { // <ul>
			list-style: none;
			display: flex;
			padding: 0;
			margin: {
				top: 0;
				bottom: 0;
			}
			justify-content: space-evenly;
			align-items: center;
			height: inherit;

			.menu-item { // <li>
				a {
					text: {
						decoration: none;
						transform: uppercase;
					}
					font: {
						weight: 500;
						size: 0.625rem;
					}
					color: $black;
					border-bottom: {
						style: solid;
						width: 0.125rem;
						color: transparent;
					}
					transition-property: border-bottom-color;
					transition-duration: 0.5s;

					@media #{$mq_w475_up} {
						font-size: 0.813rem;
					}

					@media #{$mq_w800_up} {
						font-size: 1rem;
						word-spacing: 0.25rem;
					}

					@media #{$mq_w1300_up} {
						font-size: 1.25rem;
					}

					&:hover {
						border-bottom-color: $black;
					}
				}
			}

			&__wooops { // <li>
				order: 3;
			}

			&__agency { // <li>
				order: 1;
			}

			&__services { // <li>
				order: 2;
			}

			&__projects { // <li>
				order: 4;
			}

			&__contact { // <li>
				order: 5;
			}
		}

		&--mobile { // <div>
			position: absolute;
			top: 3.125rem;
			right: 0;
			left: 0;
			height: calc(100vh - 3.125rem);
			background-color: $white;
			display: flex;
			justify-content: center;
			align-items: center;

			@media #{$mq_w450_up} {
				top: 3.75rem;
			}

			#menu-menu-principal { // <ul>
				margin: 0;
				padding: 0;
				list-style: none;
				display: flex;
				flex-direction: column;
				row-gap: 1.25rem;

				@media #{$mq_w450_up} {
					margin-top: 4.375rem;
				}

				.menu-item { // <li>
					text-align: center;

					a {
						color: $black;
						text: {
							decoration: none;
							transform: uppercase;
						}
						font: {
							size: 1.125rem;
							weight: 900;
						}
					}
				}
			}
		}
	}
}

.header__mobile-menu, .header__close-menu { // <button>
	position: absolute;
	left: 1.25rem;
	z-index: 2;
	border: none;
	background: none;
	padding: 0;

	@media #{$portrait} {
		top: calc(50px / 2 - 24px / 2);
		
		@media #{$mq_w600_up} {
			top: calc(60px / 2 - 24px / 2);
		}

		@media #{$mq_w800_up} {
			top: calc(75px / 2 - 24px / 2);
		}
	}

	@media #{$landscape} {
		top: calc(40px / 2 - 24px / 2);

		@media #{$mq_h400_up} {
			top: calc(50px / 2 - 24px / 2);
		}

		@media #{$mq_h600_up} {
			top: calc(60px / 2 - 24px / 2);
		}

		@media #{$mq_h900_up} {
			top: calc(75px / 2 - 24px / 2);
		}
	}

	&__icon {
		width: 100%;
		vertical-align: middle;
	}
}

.header__contact-shortcut { // <div>
	@extend .header__mobile-menu, .header__close-menu;
	right: 1.25rem;
	left: unset;
}