.hero { // <div>
	background: {
		repeat: no-repeat;
		size: cover;
		attachment: fixed;
		color: $black;
	}
	height: calc(100vh - 50px);

	@media #{$mq_w450_up} {
		height: calc(100vh - 60px);
	}

	@media #{$mq_w800_up} {
		height: calc(100vh - 75px);
	}

	.introduction { // <section>
		@include h2-titles-container;
		height: inherit;

		@media #{$mq_w900_up} {
			margin-left: auto;
			flex-direction: column;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__logo-container { // <h1>
			background-color: $white;
			margin: {
				top: 0;
				bottom: 0;
			}
			transform: rotate(45deg);
			display: flex;
			align-items: center;
			position: absolute;
			width: 50vw;
			height: 50vw;
			top: calc(50% - 25vw + 25px);
			left: calc(50% - 25vw);
			box-shadow: 0px 0px 1.25rem 0.313rem $white;
			z-index: 0;

			@media #{$mq_w400_up} {
				width: 45vw;
				height: 45vw;
				top: calc(50% - 22.5vw + 25px);
				left: calc(50% - 22.5vw);
			}

			@media #{$mq_w450_up} {
				top: calc(50% - 22.5vw + 30px);
			}

			@media #{$mq_w600_up} {
				width: 40vw;
				max-width: 350px;
				height: 40vw;
				max-height: 350px;
				top: calc(50% - 20vw + 30px);
				left: calc(50% - 20vw);
			}

			@media #{$mq_w800_up} {
				top: calc(50% - 20vw + 37.5px);
			}

			@media #{$mq_w875_up} {
				top: calc(50% - 175px + 37.5px);
				left: calc(50% - 175px);
			}
		}

		&__logo-image { // <img>
			vertical-align: middle;
			width: 100%;
			transform: rotate(-45deg);
		}

		&__title { // <h2>
			margin: 0;
			height: inherit;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		&__text { // <p>
			margin: 0;
			text-transform: uppercase;
			color: $white;
			font: {
				size: 17px;
				weight: 100;
			}
			display: flex;
			flex-direction: column;

			@media #{$mq_w450_up} {
				font-size: 20px;
			}

			@media #{$mq_w600_up} {
				font-size: 22px;
			}

			@media #{$mq_w700_up} {
				font-size: 30px;
			}

			@media #{$mq_w1000_up} {
				font-size: 40px;
			}

			@media #{$mq_w1500_up} {
				font-size: 3.125rem; // 50px
				word-spacing: 0.25rem;
				letter-spacing: 0.125rem;
			}

			&:first-of-type {
				align-self: flex-start;
				text-align: start;
				margin: {
					top: 10px;
					left: 10px;
				}

				@media #{$mq_h500_up} {
					margin-top: 20px;
				}

				@media #{$mq_w600_up} {
					margin: {
						top: 40px;
						left: 40px;
					}
				}

				@media #{$mq_h600_up} {
					margin-top: 60px;
				}

				@media #{$mq_w800_up} {
					margin-left: 40px;
				}

				@media #{$mq_w1200_up} {
					margin-left: 80px;
				}
			}

			&:last-of-type {
				margin: {
					right: 10px;
					bottom: 10px;
				}
				text-align: end;
				align-self: flex-end;

				@media #{$mq_h500_up} {
					margin-bottom: 20px;
				}

				@media #{$mq_w600_up} {
					margin: {
						right: 40px;
						bottom: 40px;
					}
				}

				@media #{$mq_h600_up} {
					margin-bottom: 60px;
				}

				@media #{$mq_w800_up} {
					margin-right: 40px;
				}

				@media #{$mq_w1200_up} {
					margin-right: 80px;
				}
			}
		}

		&__keyword { // <span>
			font-weight: 700;
			color: $white;
			text-shadow: 0px 0px 10px $white;
		}
	}
}