.hero { // <div>
	background: {
		repeat: no-repeat;
		size: cover;
		attachment: fixed;
		color: $black;
	}
	height: calc(100vh - 3.125rem);

	@media #{$mq_w450_up} {
		height: calc(100vh - 3.75rem);
	}

	@media #{$mq_w800_up} {
		height: calc(100vh - 4.688rem);
	}

	.introduction { // <section>
		@include h2-titles-container;
		height: inherit;

		@media #{$mq_w900_up} {
			margin-left: auto;
			flex-direction: column;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__logo-container { // <h1>
			background-color: $white;
			margin: {
				top: 0;
				bottom: 0;
			}
			transform: rotate(45deg);
			display: flex;
			align-items: center;
			position: absolute;
			width: 50vw;
			height: 50vw;
			top: calc(50% - 25vw + 1.563rem);
			left: calc(50% - 25vw);
			box-shadow: 0rem 0rem 1.25rem 0.313rem $white;
			z-index: 0;

			@media #{$mq_w400_up} {
				width: 45vw;
				height: 45vw;
				top: calc(50% - 22.5vw + 1.563rem);
				left: calc(50% - 22.5vw);
			}

			@media #{$mq_w450_up} {
				top: calc(50% - 22.5vw + 1.875rem);
			}

			@media #{$mq_w600_up} {
				width: 40vw;
				max-width: 21.875rem;
				height: 40vw;
				max-height: 21.875rem;
				top: calc(50% - 20vw + 1.875rem);
				left: calc(50% - 20vw);
			}

			@media #{$mq_w800_up} {
				top: calc(50% - 20vw + 2.344rem);
			}

			@media #{$mq_w875_up} {
				top: calc(50% - 10.938rem + 2.344rem);
				left: calc(50% - 10.938rem);
			}
		}

		&__logo-image { // <img>
			vertical-align: middle;
			width: 100%;
			transform: rotate(-45deg);
		}

		&__title { // <h2>
			margin: 0;
			height: inherit;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		&__text { // <p>
			margin: 0;
			text-transform: uppercase;
			color: $white;
			font: {
				size: 1.063rem;
				weight: 100;
			}
			display: flex;
			flex-direction: column;

			@media #{$mq_w450_up} {
				font-size: 1.25rem;
			}

			@media #{$mq_w600_up} {
				font-size: 1.375rem;
			}

			@media #{$mq_w700_up} {
				font-size: 1.875rem;
			}

			@media #{$mq_w1000_up} {
				font-size: 2.5rem;
			}

			@media #{$mq_w1500_up} {
				font-size: 3.125rem;
				word-spacing: 0.25rem;
				letter-spacing: 0.125rem;
			}

			&:first-of-type {
				align-self: flex-start;
				text-align: start;
				margin: {
					top: 0.625rem;
					left: 0.625rem;
				}

				@media #{$mq_h500_up} {
					margin-top: 1.25rem;
				}

				@media #{$mq_w600_up} {
					margin: {
						top: 2.5rem;
						left: 2.5rem;
					}
				}

				@media #{$mq_h600_up} {
					margin-top: 3.75rem;
				}

				@media #{$mq_w800_up} {
					margin-left: 2.5rem;
				}

				@media #{$mq_w1200_up} {
					margin-left: 5rem;
				}
			}

			&:last-of-type {
				margin: {
					right: 0.625rem;
					bottom: 0.625rem;
				}
				text-align: end;
				align-self: flex-end;

				@media #{$mq_h500_up} {
					margin-bottom: 1.25rem;
				}

				@media #{$mq_w600_up} {
					margin: {
						right: 2.5rem;
						bottom: 2.5rem;
					}
				}

				@media #{$mq_h600_up} {
					margin-bottom: 3.75rem;
				}

				@media #{$mq_w800_up} {
					margin-right: 2.5rem;
				}

				@media #{$mq_w1200_up} {
					margin-right: 5rem;
				}
			}
		}

		&__keyword { // <span>
			font-weight: 700;
			color: $white;
			text-shadow: 0rem 0rem 0.625rem $white;
		}
	}
}