@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 $neutral_55;
    }

    50% {
        box-shadow: 0 0 2.5rem 0.625rem $neutral_55;
    }

    100% {
        box-shadow: 0 0 0 0 $neutral_55;
    }
}