@mixin container {
	width: 80%;
	margin: {
		right: auto;
		left: auto;
	}
}

@mixin positioning-sections {
	@include container;
	display: flex;
	gap: 4rem;
	height: 100vh;
	align-items: center;
}

@mixin positioning-sections--reverse {
	@include positioning-sections;
	flex-direction: row-reverse;
}

@mixin h2-titles {
	font: {
		size: 4rem;
		weight: 400;
	}
	text-align: center;
	margin: 0;
}

@mixin h3-titles {
	text-align: center;
	font: {
		size: 2rem;
		weight: 400;
	}
	margin: 0;
	position: relative;
}

@mixin title-decoration {
	content: "";
	display: block;
	position: absolute;
	left: calc(50% - 18.75rem / 2);
	width: 18.75rem;
	border-bottom: {
		style: solid;
		width: 0.469rem;
		color: $wooops;
	};
}

@mixin h4-titles {
	font-size: 1.25rem;
	margin: 0;
}

@mixin sub-sections {
	display: flex;
	column-gap: 2.5rem;
	margin-top: 6.25rem;
}

@mixin services-intros {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin services-text {
	margin: 0;
	text-align: justify;
}

@mixin services-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-items: center;
	justify-content: space-evenly;
	column-gap: 6rem;
	row-gap: 2rem;
	flex-wrap: wrap;
}

@mixin services-item {
	width: 9.375rem;
	height: 9.375rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: $wooops;
	color: $white;
	border-radius: 0.188rem;
	box-shadow: 0.313rem 0.313rem 0.938rem $black_shadow;
}