@mixin container {
	max-width: 1920px;
	margin: {
		right: 20px;
		left: 20px;
	}

	@media #{$mq_w1920_up} {
		margin: 0;
		padding: {
			right: auto;
			left: auto;
		}
	}
}

@mixin h2-titles-container {
	padding: {
		right: 20px;
		left: 20px;
	}
}

@mixin h2-titles {
	@include container;
	margin: 0;
	background-color: $white;
	height: 75px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	@media #{$mq_w400_up} {
		height: 100px;
	}

	@media #{$mq_w500_up} {
		height: 150px;
	}

	@media #{$mq_w700_up} {
		height: 200px;
	}

	@media #{$mq_w900_up} {
		height: 250px;
	}
	
	@media #{$mq_w1100_up} {
		height: 300px;
	}

	@media #{$mq_w1500_up} {
		height: 400px;
	}
}

@mixin h2-titles__text {
	display: block;
	width: 50%;
	font: {
		size: 20px;
		weight: 800;
	}
	text: {
		align: center;
		transform: uppercase;
	}
	align-items: center;

	@media #{$mq_w400_up} {
		font-size: 30px;
	}

	@media #{$mq_w500_up} {
		font-size: 40px;
	}

	@media #{$mq_w700_up} {
		font-size: 50px;
	}

	@media #{$mq_w900_up} {
		font-size: 60px;
	}

	@media #{$mq_w1000_up} {
		font-size: 70px;
	}

	@media #{$mq_w1300_up} {
		font-size: 80px;
	}

	@media #{$mq_w1500_up} {
		font-size: 100px;
	}
}

@mixin h2-titles__image-container {
	display: flex;
	justify-content: center;
	width: 50%;
}

@mixin h2-titles__image {
	width: 125px;
	height: 125px;
	object-fit: cover;
	vertical-align: middle;
	border-radius: 125px;
	box-shadow: 0px 0px 40px 10px $black_shadow;


	@media #{$mq_w400_up} {
		width: 150px;
		height: 150px;
		border-radius: 150px;
	}

	@media #{$mq_w500_up} {
		width: 200px;
		height: 200px;
		border-radius: 200px;
	}

	@media #{$mq_w700_up} {
		width: 250px;
		height: 250px;
		border-radius: 250px;
	}

	@media #{$mq_w900_up} {
		width: 300px;
		height: 300px;
		border-radius: 300px;
	}

	@media #{$mq_w1100_up} {
		width: 350px;
		height: 350px;
		border-radius: 350px;
	}

	@media #{$mq_w1500_up} {
		width: 450px;
		height: 450px;
		border-radius: 450px;
	}
}

@mixin h3-titles {
	text-align: center;
	font: {
		family: "Crimson Text", Arial, "Helvetica Neue", Helvetica, sans-serif;
		size: 25px;
		weight: 400;
	}
	margin: 0;
	color: $white;

	@media #{$mq_w700_up} {
		font-size: 30px;
	}

	@media #{$mq_w1200_up} {
		font-size: 40px;
	}

	@media #{$mq_w1500_up} {
		font-size: 50px;
	}
}

@mixin h4-titles {
	margin: 0;
	font-size: 1.10rem;

	@media #{$mq_w1500_up} {
		font-size: 30px;
	}
}

@mixin card-container {
	background-color: $wooops;
	max-width: 400px;
}

@mixin card-container-light {
	@include card-container;
	background-color: $white;
	padding: 20px;

	@media #{$mq_w1500_up} {
		padding: 40px;
	}
}

@mixin card-intro {
	background-color: $white;
	padding: 20px;
	box-shadow: 0px 0px 20px $black_shadow;

	@media #{$mq_w1500_up} {
		padding: 40px;
	}
}

@mixin card-intro-light {
	@include card-intro;
	box-shadow: unset;
	padding: unset;
}

@mixin card-keywords {
	padding: 20px;
	text-align: justify;

	@media #{$mq_w1500_up} {
		padding: 40px;
	}
}

@mixin sub-sections {
	display: flex;
	column-gap: 2.5rem;
	margin-top: 6.25rem;
}

@mixin services-text {
	margin: 0;
	text-align: justify;
}

@mixin services-list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: $white;
}

@mixin services-item {
	display: inline;
	font-weight: 500;
}

@mixin card-dark {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	max-width: 500px;
	color: $white;
	padding: 20px;
	border: {
		style: solid;
		width: 1px;
		color: $white;
	}

	@media #{$mq_w1500_up} {
		padding: 40px;
	}
}