.projects { // <div>
	max-width: 120rem;
	margin: {
		right: auto;
		left: auto;
	}
	padding-bottom: 9.375rem;
	scroll-margin-top: calc(3.125rem + 1.5625rem);

	@media #{$mq_w450_up} {
		scroll-margin-top: calc(3.75rem + 1.5625rem);
	}

	@media #{$mq_w800_up} {
		scroll-margin-top: calc(4.6875rem + 1.5625rem);
	}

	&__title { // <h2>
		margin: {
			top: 0;
			bottom: 0;
		}
		background-color: $white;
		display: flex;
		align-items: center;

		@media #{$portrait} {
			height: 6.25rem;

			@media #{$mq_w400_up} {
				height: 7.5rem;
			}

			@media #{$mq_w500_up} {
				height: 8.75rem;
			}

			@media #{$mq_w700_up} {
				height: 10rem;
			}

			@media #{$mq_w900_up} {
				height: 11.25rem;
			}

			@media #{$mq_w1000_up} {
				height: 12.5rem;
			}
		}

		@media #{$landscape} {
			height: 5rem;

			@media #{$mq_h400_up} {
				height: 6.25rem;
			}

			@media #{$mq_h500_up} {
				height: 7.5rem;
			}

			@media #{$mq_h600_up} {
				height: 8.75rem;
			}

			@media #{$mq_h700_up} {
				height: 10rem;
			}

			@media #{$mq_h800_up} {
				height: 12.5rem;
			}

			@media #{$mq_h900_up} {
				height: 15.625rem;
			}
		}

		.title {
			&__text-container { // <div>
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				padding-left: 1.25rem;

				@media #{$mq_w400_up} {
					padding-left: 7%;
				}

				@media #{$mq_w600_up} {
					padding-left: 10%;
				}

				@media #{$mq_w1200_up} {
					padding-left: 12%;
				}
			}

			&__text { // <span>
				font-weight: 800;
				text-transform: uppercase;

				@media #{$portrait} {
					font-size: 1.25rem;

					@media #{$mq_w400_up} {
						font-size: 1.875rem;
					}

					@media #{$mq_w500_up} {
						font-size: 2.5rem;
					}

					@media #{$mq_w700_up} {
						font-size: 3.125rem;
					}

					@media #{$mq_w900_up} {
						font-size: 3.75rem;
					}

					@media #{$mq_w1000_up} {
						font-size: 4.375rem;
					}
				}

				@media #{$landscape} {
					font-size: 2.1875rem;

					@media #{$mq_h400_up} {
						font-size: 2.5rem;
					}

					@media #{$mq_h500_up} {
						font-size: 2.8125rem;
					}

					@media #{$mq_h600_up} {
						font-size: 3.125rem;
					}

					@media #{$mq_h700_up} {
						font-size: 3.75rem;
					}

					@media #{$mq_h800_up} {
						font-size: 4.375rem;
					}

					@media #{$mq_h900_up} {
						font-size: 5rem;
					}
				}
			}

			&__image-container { // <div>
				width: 50%;
				height: 100%;
				clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
			}

			&__image { // <img>
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: middle;
				z-index: 1;
			}
		}
	}

	&__all-tags-container { // <div>
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 6.25rem;
		padding: {
			right: 1.25rem;
			left: 1.25rem;
		}
		margin-top: 4.6875rem;
		justify-content: center;
		flex-wrap: wrap;

		@media #{$mq_w400_up} {
			padding: {
				right: 7%;
				left: 7%;
			}
		}

		@media #{$mq_w600_up} {
			padding: {
				right: 10%;
				left: 10%;
			}
		}

		@media #{$mq_w1000_up} {
			display: revert;
		}

		@media #{$mq_w1200_up} {
			margin-top: 9.375rem;
			padding: {
				right: 12%;
				left: 12%;
			}
		}
	}

	&__select-tag { // <button>
		display: inline-block;
		min-width: fit-content;
		height: 2.1875rem;
		line-height: 2.1875rem;
		color: $black;
		border: {
			style: solid;
			width: 0.0625rem;
			color: $black;
			radius: 2.1875rem;
		}
		padding: {
			right: 1rem;
			left: 1rem;
		}
		background-color: unset;
		font: {
			family: "Catamaran", Arial, "Helvetica Neue", Helvetica, sans-serif;
			size: 1rem;
		}
		transition-property: background-color color;
		transition-duration: 0.3s;
		cursor: pointer;
		color: $wooops;
		border-color: $wooops;
		width: 12.5rem;

		&:hover {
			color: $white;
			background-color: $wooops;
		}
	}

	&__all-tags-list { // <ul>
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 0.625rem;
		margin: {
			top: 0.625rem;
			bottom: 0;
		}
		padding: 0;
		list-style: none;
		width: 100%;

		@media #{$mq_w1000_up} {
			flex-direction: initial;
			flex-wrap: wrap;
			justify-content: center;
			align-items: revert;
			column-gap: 1.25rem;
			row-gap: 1.25rem;
			margin-top: unset;
		}

		li {
			width: 9.375rem;

			@media #{$mq_w1000_up} {
				width: revert;
			}
		}
	}

	&__all-tags { // <button>
		display: inline-block;
		min-width: fit-content;
		height: 2.1875rem;
		line-height: 2.1875rem;
		color: $black;
		border: {
			style: solid;
			width: 0.0625rem;
			color: $black;
			radius: 2.1875rem;
		}
		padding: {
			right: 1rem;
			left: 1rem;
		}
		background-color: unset;
		font: {
			family: "Catamaran", Arial, "Helvetica Neue", Helvetica, sans-serif;
			size: 1rem;
		}
		transition-property: background-color color;
		transition-duration: 0.3s;
		cursor: pointer;
		color: $wooops;
		border-color: $wooops;
		width: 100%;

		&:hover {
			color: $white;
			background-color: $wooops;
		}

		&.active {
			@extend .projects__all-tags:hover;

			@media #{$mq_w1000_up} {
				outline: {
					style: solid;
					width: 0.0625rem;
					color: $wooops;
					offset: 0.3125rem;
				}
			}
		}
	}

	&__cards-container { // <div>
		margin-top: 6.25rem;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		column-gap: 1.25rem;
		row-gap: 6.25rem;
		position: relative;
		padding: {
			right: 1.25rem;
			left: 1.25rem;
		}
	
		@media #{$mq_w400_up} {
			padding: {
				right: 7%;
				left: 7%;
			}
		}
	
		@media #{$mq_w600_up} {
			padding: {
				right: 10%;
				left: 10%;
			}
		}
	
		@media #{$mq_w1200_up} {
			padding: {
				right: 12%;
				left: 12%;
			}
		}
	}

	&__cards { // <article>
		width: 25rem;
		max-width: 25rem;
		transition-property: transform;
		transition-duration: 0.5s;

		&:hover {
			transform: scale(1.05);
		}
	}

	&__link { // <a>
		display: block;
		text-decoration: none;
	}

	&__client-name { // <h5>
		margin: {
			top: 0;
			right: 0;
			bottom: 1.875rem;
			left: 0;
		}
		color: $black;
		font: {
			family: Quicksand, Arial, "Helvetica Neue", Helvetica, sans-serif;
			size: 1.25rem;
			weight: 700;
		}
	}

	&__thumbnails { // <div>
		position: relative;
		display: flex;
		justify-content: space-evenly;

		.thumbnail {
			&__desktop { // <img>
				width: 100%;
				vertical-align: middle;
				box-shadow: 0 0 2.5rem 0.625rem $black_shadow;
			}

			&__mobile { // <img>
				width: 30%;
				vertical-align: middle;
				position: absolute;
				top: 1.25rem;
				right: 0;
			}
		}
	}

	// &__presentation { // <p>
	// }

	&__post-tags-container { // <ul>
		position: relative;
		display: flex;
		column-gap: 1.25rem;
		margin: {
			top: 3.125rem;
			right: 0;
			bottom: 0;
			left: 0;
		}
		padding: 0;
		list-style: none;
	}

	&__post-tags { // <li>
		display: inline-block;
		min-width: fit-content;
		height: 2.1875rem;
		line-height: 2.1875rem;
		color: $black;
		border: {
			style: solid;
			width: 0.0625rem;
			color: $black;
			radius: 2.1875rem;
		}
		padding: {
			right: 1rem;
			left: 1rem;
		}
	}

	&__more { // <button>
		display: block;
		height: 3.125rem;
		font: {
			family: "Catamaran", Arial, "Helvetica Neue", Helvetica, sans-serif;
			size: 1rem;
			weight: 700;
		}
		color: $wooops;
		border: {
			style: solid;
			width: 0.0625rem;
			color: $wooops;
		}
		cursor: pointer;
		letter-spacing: 0.0625rem;
		background-color: unset;
		transition-property: background-color color;
		transition-duration: 0.3s;
		padding: {
			right: 1.25rem;
			left: 1.25rem;
		}
		margin: {
			top: 6.25rem;
			right: auto;
			left: auto;
		}

		&:hover {
			background-color: $wooops;
			color: $white;
		}	
	}

	&__end { // <div>
		text-align: center;
		color: $white;
		margin-top: 6.25rem;
		padding: {
			right: 1.25rem;
			left: 1.25rem;
		}
	
		@media #{$mq_w400_up} {
			padding: {
				right: 7%;
				left: 7%;
			}
		}
	
		@media #{$mq_w600_up} {
			padding: {
				right: 10%;
				left: 10%;
			}
		}
	
		@media #{$mq_w1200_up} {
			padding: {
				right: 12%;
				left: 12%;
			}
		}
	}

	&__empty { // <div>
		text-align: center;
		color: $white;
		padding: {
			right: 1.25rem;
			left: 1.25rem;
		}
	
		@media #{$mq_w400_up} {
			padding: {
				right: 7%;
				left: 7%;
			}
		}
	
		@media #{$mq_w600_up} {
			padding: {
				right: 10%;
				left: 10%;
			}
		}
	
		@media #{$mq_w1200_up} {
			padding: {
				right: 12%;
				left: 12%;
			}
		}
	}
}