.services { // <div>
	@include container;

	@media #{$mq_w320_up} {
		padding-top: 6.25rem;
	}

	@media #{$mq_w1920_up} {
		padding-top: 12.5rem;
	}

	&__title { // <h2>
		@include h2-titles;
	}

	.service1 { // <div>
		margin-top: 6.25rem;

		&__title { // <h3>
			@include h3-titles;

			&:after {
				@include title-decoration;
			}
		}

		.service1a { // <div>
			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
			}

			@media #{$mq_w1920_up} {
				@include sub-sections;
			}

			&__intro { // <div>
				@media #{$mq_w1920_up} {
					@include services-intros;
				}
			}

			&__title { // <h4>
				@include h4-titles;

				@media #{$mq_w1920_up} {
					width: 50%;
				}
			}
	
			&__text { // <p>
				@include services-text;

				@media #{$mq_w1920_up} {
					width: 50%;
				}
			}

			&__keywords { // <div>
				@media #{$mq_w320_up} {
					margin-top: 1.563rem;
				}

				@media #{$mq_w1920_up} {
					width: 50%;
				}
			}

			&__list { // <ul>
				@include services-list;
			}

			&__item { // <li>
				@include services-item;
			}
		}

		.service1b { // <div>
			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
			}

			@media #{$mq_w1920_up} {
				@include sub-sections;
				flex-direction: row-reverse;
			}
			
			&__intro { // <div>
				@media #{$mq_w1920_up} {
					@include services-intros;
				}
			}

			&__title { // <h4>
				@include h4-titles;

				@media #{$mq_w1920_up} {
					width: 50%;
				}
			}

			&__text { // <p>
				@include services-text;

				@media #{$mq_w1920_up} {
					width: 50%;
				}
			}

			&__keywords { // <div>
				@media #{$mq_w320_up} {
					margin-top: 1.563rem;
				}

				@media #{$mq_w1920_up} {
					width: 50%;
				}
			}

			&__list { // <ul>
				@include services-list;
			}

			&__item { // <li>
				@include services-item;
			}
		}

		.service1c { // <div>
			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
			}

			@media #{$mq_w1920_up} {
				width: 37.5%;
				margin: {
					top: 12.5rem;
					right: auto;
					left: auto;
				}
			}

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;
			}
		}
	}

	.service2 { // <div>
		@media #{$mq_w320_up} {
			margin-top: 6.25rem;
		}

		@media #{$mq_w1920_up} {
			margin-top: 12.5rem;
		}

		&__title { // <h3>
			@include h3-titles;

			&:after {
				@include title-decoration;
			}
		}

		&__list { // <ol>
			list-style: none;
			padding: 0;
			display: flex;
			margin-bottom: 0;
			justify-content: space-evenly;

			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
				flex-wrap: wrap;
				row-gap: 2rem;
			}

			@media #{$mq_w392_up} {
				column-gap: 2rem;
			}

			@media #{$mq_w1920_up} {
				margin-top: 6.25rem;
			}
		}

		&__item { // <li>
			@include services-item;
		}
	}

	.service3 { // <div>
		@media #{$mq_w320_up} {
			margin-top: 6.25rem;
		}

		@media #{$mq_w1920_up} {
			margin-top: 12.5rem;
		}

		&__title { // <h3>
			@include h3-titles;

			&:after {
				@include title-decoration;
			}
		}

		&__text { // <p>
			text-align: justify;

			@media #{$mq_w1920_up} {
				width: 37.5%;
				margin: {
					right: auto;
					left: auto;
				}
			}

			&:first-of-type {
				margin-bottom: 0;
				
				@media #{$mq_w320_up} {
					margin-top: 3.125rem;
				}

				@media #{$mq_w1920_up} {
					margin-top: 6.25rem;
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.service4 { // <div>
		@media #{$mq_w320_up} {
			margin-top: 6.25rem;
		}

		@media #{$mq_w1920_up} {
			margin-top: 12.5rem;
		}

		&__title { // <h3>
			@include h3-titles;

			&:after {
				@include title-decoration;
			}
		}

		.service4a { // <div>
			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
			}

			@media #{$mq_w1920_up} {
				width: 50%;
				margin-top: 6.25rem;
			}

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;

				&:last-of-type {
					margin-top: revert;
				}
			}
		}

		.service4b { // <div>
			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
				text-align: justify;
			}

			@media #{$mq_w1920_up} {
				width: 50%;
				margin: {
					top: 6.25rem;
					left: auto;
				}
			}

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				margin: 0;
			}
		}

		.service4c { // <div>
			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
			}

			@media #{$mq_w1920_up} {
				width: 50%;
				margin-top: 6.25rem;
			}

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;

				&:last-child {
					margin-top: revert;
				}
			}
		}

		.service4d { // <div>
			@media #{$mq_w320_up} {
				margin-top: 3.125rem;
			}

			@media #{$mq_w1920_up} {
				margin-top: 6.25rem;
			}

			&__title { // <h4>
				@include h4-titles;
			}
		}
	}

	.service5 { // <div>
		@media #{$mq_w320_up} {
			margin-top: 6.25rem;
		}

		@media #{$mq_w1920_up} {
			margin-top: 12.5rem;
		}

		&__title { // <h3>
			@include h3-titles;

			&:after {
				@include title-decoration;
			}
		}
	}

	.service6 { // <div>
		@media #{$mq_w320_up} {
			margin-top: 6.25rem;
		}

		@media #{$mq_w1920_up} {
			margin-top: 12.5rem;
		}

		&__title {
			@include h3-titles;

			&:after {
				@include title-decoration;
			}
		}
	}
}