.services { // <div>
	@include container;
	
	&__title { // <h2>
		@include h2-titles;
	}

	&__image { // <img>
		@include section-header;
	}

	.service1 { // <div>
		//@include sub-container;
		@include container-by-padding;
		margin-top: 150px;

		&__title { // <h3>
			@include h3-titles;
		}

		&__services-container { // <div>
			margin-top: 75px;
			display: flex;
			justify-content: space-between;
		}

		.service1a { // <div>
			@include card-container;

			@media #{$mq_w1000_up} {
			}

			@media #{$mq_w1500_up} {
				//@include sub-sections;
			}

			&__intro { // <div>
				@include card-intro;

				@media #{$mq_w1500_up} {
					//@include services-intros;
				}
			}

			&__title { // <h4>
				@include h4-titles;
			}
	
			&__text { // <p>
				@include services-text;
			}

			&__keywords { // <div>
				@include card-keywords;
				
				@media #{$mq_w1500_up} {
					//width: 50%;
					//margin-top: unset;
				}
			}

			&__list { // <ul>
				@include services-list;
			}

			&__item { // <li>
				@include services-item;
			}
		}

		.service1b { // <div>
			@include card-container;
			
			@media #{$mq_w1000_up} {
			}

			@media #{$mq_w1500_up} {
				//@include sub-sections;
			}
			
			&__intro { // <div>
				@include card-intro;

				@media #{$mq_w1500_up} {
					//@include services-intros;
				}
			}

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;
			}

			&__keywords { // <div>
				@include card-keywords;

				@media #{$mq_w1500_up} {
				}
			}

			&__list { // <ul>
				@include services-list;
			}

			&__item { // <li>
				@include services-item;
			}
		}

		.service1c { // <div>
			@include card-container-light;

			@media #{$mq_w1000_up} {
			}

			@media #{$mq_w1500_up} {
			}

			&__intro { // <div>
				@include card-intro-light;
			}

			&__title { // <h4>
				@include h4-titles;

				&:last-of-type {
					width: 100%;
				}
			}

			&__text { // <p>
				@include services-text;
			}
		}
	}

	.service2 { // <div>
		@include container-by-padding;
		margin-top: 150px;
		
		&__title { // <h3>
			@include h3-titles;
		}

		&__list { // <ol>
			list-style: none;
			padding: 0;
			display: flex;
			margin-bottom: 0;
			justify-content: space-between;
			margin-top: 3.125rem;
			flex-wrap: wrap;
			row-gap: 2rem;

			@media #{$mq_w392_up} {
				column-gap: 2rem;
			}

			@media #{$mq_w1000_up} {
				margin-top: 4.688rem;
			}

			@media #{$mq_w1500_up} {
				margin-top: 75px;
			}
		}

		&__item { // <li>
			@include card-dark;
			width: 500px;
			font: {
				size: 23px;
				weight: 600;
			}
			text-align: center;
		}
	}

	.service3 { // <div>
		//@include sub-container;
		@include container-by-padding;
		margin-top: 150px;

		&__title { // <h3>
			@include h3-titles;
		}

		&__text-container { // <div>
			margin-top: 75px;
			display: flex;
			justify-content: space-between;
		}

		&__text { // <p>
			@include card-dark;
			text-align: justify;

			@media #{$mq_w1500_up} {
				margin: 0;
			}

			&:first-of-type {
				@media #{$mq_w1000_up} {
				}

				@media #{$mq_w1500_up} {
					font: {
						size: 25px;
						weight: 500;
					}
					width: 45%;
					word-spacing: 1px;
				}
			}

			&:last-of-type {
				margin-bottom: 0;
				width: 45%;
				line-height: 30px;
			}
		}
	}

	.service4 { // <div>
		@include sub-container;
		@include container-by-padding;
		margin-top: 150px;

		&__title { // <h3>
			@include h3-titles;
		}

		&__services-container { // <div>
			margin-top: 75px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 42px;
			column-gap: 41.5px;
			justify-content: center;
		}

		.service4a { // <div>
			@include card-container-light;

			@media #{$mq_w1000_up} {
			}

			@media #{$mq_w1500_up} {
			}

			&__title { // <h4>
				@include h4-titles;
				
				@media #{$mq_w1500_up} {
					width: 100%;
				}
			}

			&__text { // <p>
				@include services-text;

				@media #{$mq_w1500_up} {
					//width: 100%;
				}

				&:last-of-type {
					margin-top: revert;
				}
			}
		}

		.service4b { // <div>
			@include card-container-light;
			text-align: justify;

			@media #{$mq_w1000_up} {
				//margin-top: 4.688rem;
			}

			@media #{$mq_w1500_up} {
				//width: 60%;
				// margin: {
				// 	top: 6.25rem;
				// 	left: auto;
				// }
			}

			&__title { // <h4>
				@include h4-titles;

				@media #{$mq_w1500_up} {
					//width: 100%;
				}
			}

			&__text { // <p>
				@include services-text;
			}
		}

		.service4c { // <div>
			@include card-container-light;
			//margin-top: 3.125rem;

			@media #{$mq_w1000_up} {
				//margin-top: 4.688rem;
			}

			@media #{$mq_w1500_up} {
				//width: 60%;
				//margin-top: 6.25rem;
			}

			&__title { // <h4>
				@include h4-titles;

				@media #{$mq_w1500_up} {
					//width: 100%;
				}
			}

			&__text { // <p>
				@include services-text;

				@media #{$mq_w1500_up} {
					//width: 100%;
				}

				&:last-child {
					margin-top: revert;
				}
			}
		}

		.service4d { // <div>
			//margin-top: 3.125rem;
			@include card-container-light;

			@media #{$mq_w1000_up} {
				//margin-top: 4.688rem;
			}

			@media #{$mq_w1500_up} {
				//margin-top: 6.25rem;
			}

			&__title { // <h4>
				@include h4-titles;

				@media #{$mq_w1500_up} {
					//width: 100%;
				}
			}
		}
	}

	.service5 { // <div>
		//@include sub-container;
		@include container-by-padding;
		margin-top: 150px;

		&__title { // <h3>
			@include h3-titles;
		}
	}

	.service6 { // <div>
		//@include sub-container;
		@include container-by-padding;
		margin-top: 150px;

		&__title {
			@include h3-titles;
		}
	}

	.service7 { // <div>
		//@include container;
		@include container-by-padding;
		margin-top: 150px;
	
		&__title { // <h3>
			@include h3-titles;
		}
	
		&__list { // <ul>
			@include services-list;
			margin-top: 75px;
			display: flex;
			justify-content: space-between;
		}
	
		&__item { // <li>
			@include services-item;
			@include card-dark;
			display: inline-block;
			width: 250px;
			text-align: center;
			align-content: center;
			font: {
				size: 23px;
				weight: 600;
			}
		}
	}
}