.services { // <div>
	@include padding-between-sections;

	&__title { // <h2>
		@include h2-titles;

		.title {
			&__text { // <span>
				@include h2-titles__text;
			}

			&__image-container { // <span>
				@include h2-titles__image-container;
			}

			&__image { // <img>
				@include h2-titles__image;
			}
		}
	}

	.service1 { // <div>
		@include container;
		margin-top: 4.688rem;

		@media #{$mq_w1200_up} {
			margin-top: 9.375rem;
		}

		&__title { // <h3>
			@include h3-titles;
		}

		&__services-container { // <div>
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			row-gap: 1.25rem;
			margin-top: 2.344rem;
			column-gap: 1.25rem;

			@media #{$mq_w1200_up} {
				margin-top: 4.688rem;
			}
		}

		.service1a { // <div>
			@include card-container;

			&__intro { // <div>
				@include card-intro;
			}

			&__title { // <h4>
				@include h4-titles;
			}
	
			&__text { // <p>
				@include services-text;
			}

			&__keywords { // <div>
				@include card-keywords;
			}

			&__list { // <ul>
				@include services-list;
			}

			&__item { // <li>
				@include services-item;
			}
		}

		.service1b { // <div>
			@include card-container;
			
			&__intro { // <div>
				@include card-intro;
			}

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;
			}

			&__keywords { // <div>
				@include card-keywords;
			}

			&__list { // <ul>
				@include services-list;
			}

			&__item { // <li>
				@include services-item;
			}
		}

		.service1c { // <div>
			@include card-container-light;

			// &__intro { // <div>
			// }

			&__title { // <h4>
				@include h4-titles;

				&:last-of-type {
					width: 100%;
				}
			}

			&__text { // <p>
				@include services-text;
			}
		}
	}

	.service2 { // <div>
		@include container;
		margin-top: 4.688rem;

		@media #{$mq_w1500_up} {
			margin-top: 9.375rem;
		}
		
		&__title { // <h3>
			@include h3-titles;
		}

		&__list { // <ol>
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			row-gap: 1.25rem;
			list-style: none;
			padding: 0;
			margin-bottom: 0;
			margin-top: 2.344rem;
			column-gap: 1.25rem;

			@media #{$mq_w1200_up} {
				margin-top: 4.688rem;
			}
		}

		&__item { // <li>
			@include card-dark;
			font: {
				size: 1.125rem;
				weight: 600;
			}
			width: 25rem;
			text-align: center;
		}
	}

	.service3 { // <div>
		@include container;
		margin-top: 4.688rem;

		@media #{$mq_w1500_up} {
			margin-top: 9.375rem;
		}

		&__title { // <h3>
			@include h3-titles;
		}

		&__text-container { // <div>
			margin-top: 2.344rem;
			padding: 0;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			row-gap: 1.25rem;
			column-gap: 1.25rem;

			@media #{$mq_w1500_up} {
				margin-top: 4.688rem;
			}
		}

		&__text { // <p>
			@include card-dark;
			text-align: justify;
			align-items: flex-start;

			@media #{$mq_w1500_up} {
				margin: 0;
			}

			&:first-of-type, &:last-of-type {
				margin: 0;
			}
		}
	}

	.service4 { // <div>
		@include container;
		margin-top: 4.688rem;

		@media #{$mq_w1500_up} {
			margin-top: 9.375rem;
		}

		&__title { // <h3>
			@include h3-titles;
		}

		&__services-container { // <div>
			margin-top: 2.344rem;
			display: flex;
			flex-wrap: wrap;
			row-gap: 1.25rem;
			justify-content: space-evenly;
			column-gap: 1.25rem;

			@media #{$mq_w1500_up} {
				margin-top: 4.688rem;
			}
		}

		.service4a { // <div>
			@include card-container-light;

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;
			}
		}

		.service4b { // <div>
			@include card-container-light;
			text-align: justify;

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;
			}
		}

		.service4c { // <div>
			@include card-container-light;

			&__title { // <h4>
				@include h4-titles;
			}

			&__text { // <p>
				@include services-text;
			}
		}

		.service4d { // <div>
			@include card-container-light;
			width: 100%;


			&__title { // <h4>
				@include h4-titles;
			}
		}
	}

	.service5 { // <div>
		@include container;
		margin-top: 4.688rem;

		@media #{$mq_w1500_up} {
			margin-top: 9.375rem;
		}

		&__title { // <h3>
			@include h3-titles;
		}
	}

	.service6 { // <div>
		@include container;
		margin-top: 4.688rem;

		@media #{$mq_w1500_up} {
			margin-top: 9.375rem;
		}

		&__title {
			@include h3-titles;
		}
	}

	.service7 { // <div>
		@include container;
		margin-top: 4.688rem;

		@media #{$mq_w1500_up} {
			margin-top: 9.375rem;
		}
	
		&__title { // <h3>
			@include h3-titles;
		}
	
		&__list { // <ul>
			@include services-list;
			margin: {
				top: 2.344rem;
				bottom: 0;
			}
			padding: 0;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;
			row-gap: 1.25rem;
			column-gap: 1.25rem;

			@media #{$mq_w1200_up} {
				margin-top: 4.688rem;
			}
		}
	
		&__item { // <li>
			@include services-item;
			@include card-dark;
			display: flex;
			text-align: center;
			align-content: center;
			font: {
				size: 1.125rem;
				weight: 600;
			}
			width: 15.625rem;
		}
	}
}